* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
img{
    max-width: 100%;
}
/* common button */
.commonbtn{
    background-color: turquoise;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}
.outlinebtn{
    background-color: white;
    padding: 10px 20px;
    border-radius: 12px;
    border: 1px solid turquoise;
    color: turquoise;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}
.hero-left-btn{
    margin-top: 12px;
}
.container{
max-width: 1200px;
    margin: auto;
}
.logo {
    font-weight: bold;
    font-size: 32px;
}
.logot {
    color: turquoise;
}
nav{
    /* background-color: gray; */
    display: flex; 
    justify-content: space-between;
    padding: 12px 0;
}
ul {
    display: flex;
    justify-content: space-between; 
    list-style: none;
    gap: 10px;
    align-items: center;
}
ul li a{
    text-decoration: none;
}

.hero-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}
.hero-parent-background{
    background-color: rgb(190, 219, 218);
}
.hero-left h2{
    font-size: 36px;
    font-weight: bold;
}
.hero-left-p-1{
    font-size: 28px;
    font-weight: 600;
}
.about-parent{
    background-color: rgb(190, 219, 218);
    margin: 70px auto;
    border-radius: 10px;
    padding: 80px;
    text-align: center;
}
.about-parent p{
   margin: 10px 0;
}
.about-box-parent{
    display: flex;
    justify-content: space-between;
    gap: 10px;   
}
.about-parent .box{
    background-color: rgb(173, 224, 223);
    padding: 10px;
    border-radius: 10px;
}
.what-i-do-parent{
    margin: 60px auto;
    text-align: center;
}
.what-i-do-card-container{
    margin-top: 25px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
   
}
.what-i-do-card{
    border: 2px solid rgb(190, 219, 218);
    padding: 10px;
    border-radius: 10px; 
    text-align: left;
}
.what-i-do-card p{
    color: gray;
    font-size: 15px;
}
.what-i-do-card h2{
    margin: 10px auto;
}
.my-amazing-parent{
    text-align: center;
}
.gallery{
    margin-top: 30px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: 
    'one two three'
    'four two six'
    'four five six';

}
.gallery img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.box1{
    grid-area: one;
}
.box2{
    grid-area: two;
}
.box3{
    grid-area: three;
}
.box4{
    grid-area: four;
}
.box5{
    grid-area: five;
}
.box6{
    grid-area: six;
}